<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body>
    <section id="content" role="main" layout:fragment="content">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h1 th:text="'Hello, ' + ${name} + '!'">Default Page Layout</h1>
                </div>
            </div>
        </header>
    </section>
</body>
</html>