<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringRocket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.11/css/aui.css" media="all" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.8.11/js/aui.js"></script>

    <!--AMD Loader, required for experimental components-->
    <script src="//cdn.rawgit.com/jrburke/almond/0.3.0/almond.js"></script>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.11/css/aui-experimental.css" media="all" />
    <script src="//aui-cdn.atlassian.com/aui-adg/5.8.11/js/aui-experimental.js"></script>
</head>
<body class="aui-page-hybrid">
<div id="page">
    <header th:include="includes/header :: header" role="banner" id="header"></header>
    <section id="content" role="main" th:fragment="content">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h1 th:text="'Hello, ' + ${name} + '!'">Default Page Layout</h1>
                </div>
            </div>
        </header>
    </section>
    <footer id="footer" role="contentinfo">

    </footer>
</div>
</body>
</html>